<div class="col-md-4">
  <ng-select placeholder="Search or add new product" class="product-dropdown" #select [searchable]="false"
    bindLabel="name" [(ngModel)]="selectedProduct">
    <ng-template ng-header-tmp>
      <div class="wrapper">
        <input class="fa" placeholder="Search Products" style="width: 100%; line-height: 24px" type="text" #searchBox
          (input)="search(searchBox.value)" />
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>

      <div class="clickable">
        <a  href="/products/new"> + Add New Product</a>
      </div>

      <div class = "product-item" *ngFor="let product of products">
        <a href="products/{{ product.id }}"> {{ product.name }}</a>
      </div>
    </ng-template>
  </ng-select>
</div>